<h1>OLVÍDATE DEL ESTRÉS</h1>
 
<!--
<nav >
    <a routerLink="home" routerLinkActive="active-link">¿QUÉ ES?</a>
    <a routerLink="pagina1" routerLinkActive="active-link">SÍNTOMAS</a>
    <a routerLink="pagina2" routerLinkActive="active-link">TIPS</a>
</nav>
-->

<ul>
    <li><a routerLink="home" routerLinkActive="active-link">¿QUÉ ES?</a></li>
    <li><a routerLink="pagina1" routerLinkActive="active-link">SÍNTOMAS</a></li>
    <li><a routerLink="pagina2" routerLinkActive="active-link">TIPS</a></li>
</ul>