<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>

<body>

    <div id="titulo">
        <h1>¿CONOCES LOS SÍNTOMAS?</h1>
    </div>

    <div class="recuadro1"> 
        <p>
            Podemos identificar una de estas enfermedades emocionales tanto a través de los 
            síntomas del estrés emocionales como físicos e incluso viendo como este afecta a 
            nuestro comportamiento. Tanto es así que en muchas ocasiones podemos ver diferentes 
            reacciones fisiológicas así como efectos del estrés en nuestras emociones. 
            Principalmente, podríamos identificar si tenemos estrés o si se trata de un caso de una 
            persona nerviosa si esta presenta los siguientes síntomas del estrés.
        </p>                   
    </div>

    <section class="lista" >       

        <div>    
            <ul>
                <li>😵‍💫 Ansiedad</li>
                <li>😞 Depresión</li>
                <li>🤯 Arranques de ira</li>
                <li>😣 Estado de agitación</li>
                <li>😶 Insomnio</li>
                <li>🥴 Problemas musculares (tensión muscular en la espalda, dolor mandibular…)</li>
                <li>😫 Dolor de cabeza y migraña</li>
                <li>🤕 Elevación de la presión sanguínea</li>
                <li>🫀 Incremento del ritmo cardíaco</li>
                <li>🚨 Respiración acelerada</li>
                <li>📈 Dolor en el pecho</li>
                <li>👃 Problemas para respirar</li>
                <li>⛑️ Palpitaciones</li>
                <li>😓 Sudor</li>
                <li>😖 Malestar gastrointestinal (dolor de estómago, vómitos, náuseas, diarrea…)</li>
                <li>😒 Cansancio</li>
            </ul>        
        </div>

        <iframe width="650" height="400" 
            src="https://www.youtube.com/embed/ErwsvIqoRyI?si=hFXK_PFx7_XMXhc-" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                  gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>

    </section>
    
</body>

</html>