<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>

      <body>

        <div id="titulo">
            <h1>¿QUÉ ES EL ESTRÉS?</h1>
        </div>

        <section>
    
            <div>    
              <p>
                Se puede definir el estrés como un estado de preocupación o tensión mental 
                generado por una situación difícil. Todas las personas tenemos un cierto 
                grado de estrés, ya que se trata de una respuesta natural a las amenazas y a otros 
                estímulos. Es la forma en que reaccionamos el estrés lo que marca el modo en que 
                afecta a nuestro bienestar.
              </p> 
            </div>
      
            <div>
              <img src="https://th.bing.com/th/id/OIP.5t23MHEgEhfybu0Ud2ODpAHaDa?rs=1&pid=ImgDetMain">
            </div>
        </section>

        <div id="subtitulo">
            <br>
            <h1>¿CÓMO NOS AFECTA?</h1>
        </div>

        <section>
    
            <div>    
              <p>
                El estrés afecta tanto a la mente como al cuerpo. Es positivo tener un poco, 
                pues nos ayuda a realizar las actividades diarias, pero cuando el estrés pasa 
                a ser excesivo tiene consecuencias físicas y psíquicas. Sin embargo, podemos 
                aprender a lidiar con él para sentirnos menos abrumados y mejorar nuestro bienestar 
                físico y mental.
              </p> 
            </div>
      
            <div class="imaAfecta">
                <img src="https://th.bing.com/th/id/OIP.APbKP5zqrOCKvYncqeRWjgHaHa?rs=1&pid=ImgDetMain">
             </div>

        </section>

      </body>
</html>